 body {
   font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
   background-color: 0;
   color: white;
 }
 
 h1 {
   font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
   font-weight: 200;
   font-size: 50px;
   letter-spacing: 1px;
 }
 
 p {
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 20px;
 }

 .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: darkred;
}

.left-text {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(206, 85, 4);
}

.centered {
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.list {
  position: absolute;
  top: 450px;
  left: 50px;
}